body{
    background-color: #f3eae8;
}

header{
    min-height: 8vh;
    background-color: red;
}

nav, main{
    min-height: 88vh;
}

nav{
   background-color: #8dcc40; 
}

main{
    background-color: #e5df21;
}

#dvCentro .col {
   border: solid 1px #c0c0c0;
   text-align: center;
   overflow: hidden; 
   text-overflow: ellipsis;
}

.row > [class^=col]{

    background-color: rgb(200, 120, 100, 0.2);
    border: solid 1px #c0c0c0; 
}


#dvCentro{

    min-height: 100px;
    border: solid 2px #000;

}

.borda{
    border: solid 1px #abc;
}
